.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%; 
    
}
.login-card {
    padding: 60px 30px 40px 30px;
    border-radius: 12px;
    background-color: #CBF3F0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-card h1 {
    margin-bottom: 15%;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.login-form button {
    margin-top: 10%;
}

.login-form a {
    font-size: small;
    font-style: italic;
    margin-left: 1%;
}
